*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'AvertaStd-Bold';
}
header{
    background-size: cover;
    height: 735px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(unsplash_FCHlYvR5gJI.png);
    position: relative;
}
.overlay
{
    width: 100%;
    height: 100%;
}
.center{
    width: 85%;
    margin: 0 auto;
    /* position: relative; */
}
/*navbar of header*/
.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.navbar ul li
{
    display: inline;
}
.navbar ul li a
{
    text-decoration: none;
    color: #fff;
    line-height: 1.6em;
    font-weight: 300;
}
.navbar .left
{
    justify-content: left;
    padding: 10px;
}
.navbar .left a
{
    font-size: 20px;
    padding-right: 20px;
}
.middle
{
    /* align-content: center;
    border: 2px solid red;
    padding: 30px;
    box-sizing: border-box; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.middle ul li
{
    /* display: inline-block; */
    /* border: 2px solid red; */
    /* padding: 15px; */
    margin: 50px;
    font-family: 'AvertaStd-Semibold';
}
.navbar .right
{
    justify-content: right;
    padding-top: 30px;
    padding-right: 15px;
}
.navbar .right a
{
    background-color: #00D899;
    padding: 8px 24px;
    width: 143px;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
    /* padding: 20px; */
}
.contain
{
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* padding: 150px; */
    /* border: 2px solid red; border placed for proper placing of the contain class */
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 200px;
    /* position: absolute; */
    /* display: flex;
    flex-direction: column;
    height: 55%
    width: ; */
}
.contain-title
{
    /* border: 2px solid black; */
    margin: 34px;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 48px;
    left: 206px;
    top: 280px;
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
    letter-spacing: 0.005em;
}
.contain-paragragh
{
    /* border: 2px solid black; */
    font-family: 'AvertaStd-Semibold';
    color: #fff;
    margin: 20px;
    width: 100%;
    height: 44px;
    left: 156px;
    top: 384px;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;
    
    
}
.main-contain-link
{
    list-style: none;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
.main-contain-link li a
{
    text-decoration: none;
    color: #fff;
    background-color: #00D899;
    border-radius: 15px;
    padding: 8px 50px;
}
.contact-link-list
{
    position: absolute;
    /* border: 50%; */
    padding: 14px;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    left: 1200px;
    top: 630px;
    background-color: #00D899;
    /* border-radius: 15px; */
    /* text-align: end; */
    /* margin: 150px 12px; */
}
.contact-link-list a{
    
}
/* main */
.main-body
{
    width: 100%;
    height: 2823px;
    background: #FFFFFF;
    position: relative;
}
.main-body-nav
{
    position: absolute;
    width: 1240px;
    height: 614px;
    left: 100px;
    top: 835px;
}
.main-body-nav h2
{
    position: absolute;
    width: 452px;
    height: 200px;
    left: 100px;
    top: 10px;

    font-family: 'AvertaStd-Semibold';
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.005em;

    color: #000000;
}
span
{
    color: #00D899;
}
/*top class*/
.top-class
{
    position: absolute;
    width: 640px;
    height: 257px;
    left: 700px;
    top: 20px;
}
.top-class h4
{
    width: 261px;
    height: 30px;
    padding: 20px 0;
    margin: 20px 0;
    font-family: 'AvertaStd-Semibold';
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;

    color: #000000;
}
.top-class p
{
    width: 295px;
    height: 66px;
    font-family: 'AvertaStd-Regular';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;

    color: #000000;
}
.top-section-1
{
    position: absolute;
    width: 295px;
    height: 235px;
    left: 0px;
    top: 0px;
}
.top-section-2
{
    position: absolute;
    width: 295px;
    height: 257px;
    left: 345px;
    top: 0px;
}
.top-section-2-paragraph
{
    position: absolute;
    width: 295px;
    height: 88px;
    top: 169px;

    font-family: 'AvertaStd-Regular';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
}
.top-section-1-paragraph
{
    position: absolute;
    width: 295px;
    height: 66px;
    left: 0px;
    top: 169px;

    font-family: 'AvertaStd-Regular';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
}
.bottom
{
    position: absolute;
    width: 640px;
    height: 257px;
    left: 700px;
    top: 350px;
}
.bottom h4
{
    font-family: 'AvertaStd-Semibold';
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    margin: 15px 0;
}
.bottom-section-1
{
    position: absolute;
    width: 295px;
    height: 257px;
    left: 0px;
    top: 0px;
}
.bottom-section-2
{
    position: absolute;
    width: 295px;
    height: 257px;
    left: 345px;
    top: 0px
}
.bottom p
{
    width: 295px;
    height: 88px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    font-family: 'AvertaStd-Regular';
}
.mid-body
{
    width: 100%;
}